In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]
even = [i for i in numbers if i % 2 == 0]
even

[2, 4, 6, 8, 10]

In [3]:
sq_num = [i*i for i in numbers if i%2!=0]
sq_num

[1, 9, 25, 49, 81]

1 create any set anf try to use frozenset(setname)

2 Find the elements in a given set that are not in another set

    set1 = {1,2,3,4,5}
    set2 = {4,5,6,7,8}

    diffrence between set1 and set2 is {1,2,3}

In [27]:
num = [234,45,761,234,87,45]
fzs = frozenset(num)
print(fzs)
print(type(fzs))

TypeError: 'set' object is not callable

In [12]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

In [15]:
diff = set1-set2
diff

{1, 2, 3}

1 Create a Dictionary which contains the Binary values mapping with numbers 
found in the below integer and binary and save it in binary_dict.
Example :

    integer = [0, 1, 2, 3, 4]
    binary = ["0", "1", "10", "11", "100"]
    binary_dict = {0:"0", 1:"1", 2:"10", 3: "11", 4:"100"}
    
    
2 Create a List which contains additive inverse of a given integer list. 
An additive inverse a for an integer i is a number such that:
a + i = 0
Example:
integer = [1, -1, 2, 3, 5, 0, -7]
additive_inverse = [-1, 1, -2, -3, -5, 0, 7]

3 Create a set which only contains unique sqaures from a given a integer list.
integer = [1, -1, 2, -2, 3, -3]
sq_set = {1, 4, 9}

In [16]:
integer = [0, 1, 2, 3, 4]
binary = ["0", "1", "10", "11", "100"]

In [20]:
binary_dict= {integers : binaries for integers , binaries in zip(integer, binary)}
binary_dict

{0: '0', 1: '1', 2: '10', 3: '11', 4: '100'}

In [23]:
integer = [1, -1, 2, 3, 5, 0, -7]
#additive_inverse = [-1, 1, -2, -3, -5, 0, 7]
additive_inverse = [-i for i in integer]

print(additive_inverse)

[-1, 1, -2, -3, -5, 0, 7]

In [24]:
integer = [1, -1, 2, -2, 3, -3]
sq_set = {i*i for i in integer}
sq_set

{1, 4, 9}