In [1]:
import pandas as pd

In [16]:
df=pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [17]:
inputs = df.drop('salary_more_then_100k',axis=1)

In [18]:
target = df.salary_more_then_100k

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
le_company=LabelEncoder()
le_job=LabelEncoder()
le_degree=LabelEncoder()

In [21]:
inputs['company_n'] = le_company.fit_transform(inputs.company)
inputs['job_n'] = le_job.fit_transform(inputs.job)
inputs['degree_n'] = le_degree.fit_transform(inputs.degree)

In [22]:
inputs

       company                  job     degree  company_n  job_n  degree_n
0       google      sales executive  bachelors          2      2         0
1       google      sales executive    masters          2      2         1
2       google     business manager  bachelors          2      0         0
3       google     business manager    masters          2      0         1
4       google  computer programmer  bachelors          2      1         0
5       google  computer programmer    masters          2      1         1
6   abc pharma      sales executive    masters          0      2         1
7   abc pharma  computer programmer  bachelors          0      1         0
8   abc pharma     business manager  bachelors          0      0         0
9   abc pharma     business manager    masters          0      0         1
10    facebook      sales executive  bachelors          1      2         0
11    facebook      sales executive    masters          1      2         1
12    facebook     business manager  bachelors          1      0         0
13    facebook     business manager    masters          1      0         1
14    facebook  computer programmer  bachelors          1      1         0
15    facebook  computer programmer    masters          1      1         1

In [23]:
inputs.drop(['company','job','degree'], axis =1, inplace =True)

In [24]:
inputs.head()

   company_n  job_n  degree_n
0          2      2         0
1          2      2         1
2          2      0         0
3          2      0         1
4          2      1         0

In [25]:
from sklearn import tree

In [26]:
model =tree.DecisionTreeClassifier()

In [28]:
model.fit(inputs, target)

DecisionTreeClassifier()

In [29]:
model.score(inputs,target)

1.0

In [30]:
model.predict([[2,2,1]])

C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [31]:
model.predict([[2,0,1]])

C:\Users\admin\AppData\Roaming\Python\Python39\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)

#### Exercise

In [96]:
dt=pd.read_csv('titanic.csv')
dt.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [97]:
from sklearn.preprocessing import LabelEncoder

In [98]:
le = LabelEncoder()
dt['Sex_l']=le.fit_transform(dt.Sex)

In [99]:
dt.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Sex_l'],
      dtype='object')

In [100]:
dt.drop(['PassengerId', 'Name', 'Sex','SibSp','Parch', 'Ticket', 'Cabin', 'Embarked'], axis =1 , inplace=True)
dt.head()

   Survived  Pclass   Age     Fare  Sex_l
0         0       3  22.0   7.2500      1
1         1       1  38.0  71.2833      0
2         1       3  26.0   7.9250      0
3         1       1  35.0  53.1000      0
4         0       3  35.0   8.0500      1

In [101]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Age       714 non-null    float64
 3   Fare      891 non-null    float64
 4   Sex_l     891 non-null    int32
dtypes: float64(2), int32(1), int64(2)
memory usage: 31.4 KB

In [102]:
dt

     Survived  Pclass   Age     Fare  Sex_l
0           0       3  22.0   7.2500      1
1           1       1  38.0  71.2833      0
2           1       3  26.0   7.9250      0
3           1       1  35.0  53.1000      0
4           0       3  35.0   8.0500      1
..        ...     ...   ...      ...    ...
886         0       2  27.0  13.0000      1
887         1       1  19.0  30.0000      0
888         0       3   NaN  23.4500      0
889         1       1  26.0  30.0000      1
890         0       3  32.0   7.7500      1

[891 rows x 5 columns]

In [103]:
import math
x=dt.Age.mean()
x=math.ceil(x)
x

30

In [104]:
dt['Age']=dt.Age.fillna(x)

In [105]:
from sklearn.model_selection import train_test_split

In [106]:
inputs = dt.drop(['Survived'], axis =1)
target = dt.Survived

In [107]:
X_train, X_test, y_train,y_test = train_test_split(inputs, target, test_size = 0.2, random_state=10)

In [108]:
X_train

     Pclass   Age      Fare  Sex_l
57        3  28.5    7.2292      1
717       2  27.0   10.5000      0
431       3  30.0   16.1000      0
633       1  30.0    0.0000      1
163       3  17.0    8.6625      1
..      ...   ...       ...    ...
369       1  24.0   69.3000      0
320       3  22.0    7.2500      1
527       1  30.0  221.7792      1
125       3  12.0   11.2417      1
265       2  36.0   10.5000      1

[712 rows x 4 columns]

In [109]:
from sklearn import tree

In [110]:
model_titanic = tree.DecisionTreeClassifier()

In [111]:
model_titanic.fit(X_train, y_train)

DecisionTreeClassifier()

In [112]:
model_titanic.predict(X_test)

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       0, 0, 0], dtype=int64)

In [113]:
model_titanic.score(X_test,y_test)

0.7988826815642458